In [1]:
import pandas as pd

In [6]:
df = pd.read_excel("StudentsPrepared.xlsx")

In [7]:
df.head()

,EstadoCivil,Curso,QualificacaoAnterior,QualificacaoAnteriorGrau,Nacionalidade,NotaAdmissao,NecessidadesEspeciais,Devedor,MensalidadesEmDia,Genero,...,UnidadesCurriculares2SemestreCreditado,UnidadesCurriculares2SemestreInscrito,UnidadesCurriculares2SemestreAvaliacoes,UnidadesCurriculares2SemestreAprovado,UnidadesCurriculares2SemestreGrau,UnidadesCurriculares2SemestreSemAvaliacoes,TaxaDesemprego,TaxaInflacao,PIB,Target
0,Solteiro,Design de Animação e Multimédia,Ensino Secundário,122.0,Português,127.3,0,0,1,Masculino,...,0,0,0,0,0.000000e+00,0,10.8,1.4,1.74,Desistente
1,Solteiro,Turismo,Ensino Secundário,160.0,Português,142.5,0,0,0,Masculino,...,0,6,6,6,1.366667e+16,0,13.9,-0.3,0.79,Graduado
2,Solteiro,Design de Comunicação,Ensino Secundário,122.0,Português,124.8,0,0,0,Masculino,...,0,6,0,0,0.000000e+00,0,10.8,1.4,1.74,Desistente
3,Solteiro,Jornalismo e Comunicação,Ensino Secundário,122.0,Português,119.6,0,0,1,Feminino,...,0,6,10,5,1.240000e+01,0,9.4,-0.8,-3.12,Graduado
4,Casado,Serviço Social (prestação nocturna),Ensino Secundário,100.0,Português,141.5,0,0,1,Feminino,...,0,6,6,6,1.300000e+01,0,13.9,-0.3,0.79,Graduado

In [8]:
df['Target']

0       Desistente
1         Graduado
2       Desistente
3         Graduado
4         Graduado
           ...
4419      Graduado
4420    Desistente
4421    Desistente
4422      Graduado
4423      Graduado
Name: Target, Length: 4424, dtype: object

In [9]:
set(df['Target'])

{'Desistente', 'Graduado', 'Matriculado'}

In [10]:
df["Target"].value_counts()

Target
Graduado       2209
Desistente     1421
Matriculado     794
Name: count, dtype: int64

In [14]:
df.groupby('Target')['Target'].count()

Target
Desistente     1421
Graduado       2209
Matriculado     794
Name: Target, dtype: int64